body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: black;
}

 
.filters {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid;
     
}


td {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

th{
    margin: 10px;
    padding: 5px;
    text-align: center;

}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }


.project-grid {
    display: flex;
    justify-content: wrap;
    gap: 50px;
    padding: 20px;
}

.project-card {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    aspect-ratio: 1;
    height: auto;
    width: 100px;
    
}


