* {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 0%);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 100vh; 
    width: 100%;
    background-image: url("Website\ home\ page\ backround.jpg");
    background-size: cover; 
    aspect-ratio: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 300px;
}


#image-of-me {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif; 
    color: #f0f0f0;
    font-size: 16px; 
    
}

h1 {
    float: left;
}

header {
    font-size: 25px;
    display: flex;
    align-content: center;
}

nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    margin: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    color: red;
    transition: color 0.3s;
}

.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 20px 20px 20px rgba(255, 0, 0, 0.2);
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

.show-images table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.show-images th, .show-images td {
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
}

.show-images img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

#spotify {
    justify-content: center;
}

#mal {
    color: red;
}
