* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif; 
    color: #f0f0f0;
    font-size: 16px;
}

.hero {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-image: url("Website\ home\ page\ backround.jpg"); /* Ensure the correct path */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    position: relative; /* Ensure it can contain absolutely positioned elements */
}


#image-of-me {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100px;
}

b {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

header {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    margin: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: red;
}

.card-container {
    display: flex; /* Use flexbox for horizontal layout */
    position: absolute; /* Allow the container to be positioned freely */
    width: max-content; /* Width is based on content size, allowing horizontal scrolling */
    animation: scroll 20s linear infinite; /* Continuous horizontal scrolling animation */
    gap: 80px; /* Add space between cards */
    background-color: transparent;
}

@keyframes scroll {
    0% {
        transform: translateX(100%); /* Starts the animation from the right edge of the viewport */
    }
    100% {
        transform: translateX(-100%); /* Ends the animation at the left edge of the viewport */
    }
}

/* Pause scrolling on hover */
.card-container:hover {
    animation-play-state: paused; /* Pauses the animation when the mouse hovers over the container */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 900px; /* Adjusted for better spacing */
    aspect-ratio: 1; /* Keep the aspect ratio */
}

.show-images table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.show-images img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

#mal {
    color: red;
}
