body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.timeline {
    float: left;
    margin-left: 100px;
    width: 2px; 
    height: 100vh; 
    background-color: white; 
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline li {
    margin-bottom: 20px;
    white-space: nowrap;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 40px; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
}

.content {
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    max-width: 1200px;
    margin: auto;
}

.image-with-text {
    overflow: auto;
}

.image-with-text img {
    max-width: 200px;
    margin-right: 20px;
    float: left;
}


h1 {
    display: flex;
    justify-content: center;
    margin-left: 40px; 
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline li span {
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.timeline li .date {
    display: inline-block;
    transform: rotate(0deg); 
}



.timeline {
    float: left;
    margin-left: 100px; 
    width: 2px; 
    height: 100vh; 
    background-color: white; 
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline li {
    margin-bottom: 20px;
    transform: rotate(0deg); 
}

.timeline li .date {
    display: inline-block;
    margin-right: -40px; 
}

.timeline li .word {
    display: inline-block;
    margin-left: 100px; 
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: black;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 40px; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
}

.content {
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    max-width: 1200px;
    margin: auto;
}

.image-with-text {
    overflow: auto;
}

.image-with-text img {
    max-width: 200px;
    margin-right: 20px;
    float: left;
}


h1 {
    display: flex;
    justify-content: center;
    margin-left: 40px; 
}
